@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

/*------------------ LOGIN DEL ADMINISTRADOR ------------------*/

#login_admin{
    display: flex;
    justify-content: center;
    background: radial-gradient( whitesmoke 0%, #bda1a7 100%);
    font-family: 'Roboto', sans-serif;
}

#login_admin .caja_mensaje{
    top: 10px;
    position: absolute;
}

#login_admin .mensaje{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;  
}

#login_admin .caja_login{
    max-width: 400px;
    margin-top: 5%;
}

#login_admin form{
    padding: 40px;
    background: whitesmoke;
    box-shadow: 8px 8px rgba(0,0,0,.1);
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

#login_admin form .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_admin form h1, 
#login_admin form h3{ 
    text-align: center;
    margin-bottom: 40px; 
    color: #333;
}

#login_admin form input{
    width: 93%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #d4d1d1;
    font-size: 16px;
    outline: none;
}

#login_admin form button{
    padding: 10px 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px rgba(117, 115, 115, 0.596);
    color: white;
    background: #333;
}

#login_admin form button:hover{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.596);
    border: 2px solid #333;
    background: #d4d1d1;
    color: #333;
}



/*------------------ Común - ÁREA PRIVADA DEL ADMINISTRADOR ------------------*/
#area_admin{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#area_admin header{
    display: block;
    align-items: center;
    padding: 40px;
    background-color: grey;
    color: white;
    border-bottom: 2px solid #333;
}

#area_admin header a{
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background: rgb(165, 162, 162);
}

#area_admin header a:hover{
    background-color: white;
    color: GREY;
    border: 2px solid rgb(165, 162, 162);
}

#area_admin header h1{
    text-align: center;
}

#area_admin main{
    background-image: url("../img/otros/IMG_8505.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px; /*separacion respecto la caja cont_prod*/
    margin: auto;
}

#area_admin main h1{
    text-align: center;
    
}



/*------------------ Principal - ÁREA PRIVADA DEL ADMINISTRADOR ------------------*/

#productos .contenedor{
    margin: auto;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #333;
    position: relative;
}

#productos .cabecera{
    padding-bottom: 30px;
}

#productos .btn-delete{
    background-color: #ec8282;
}

#productos .btn-edit{
    background-color: #8383f4;
}

#productos button, 
#productos a{
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(165, 162, 162);
}

#productos button:hover, 
#productos a:hover{
    background-color: white;
    color: GREY;
    border: 2px solid rgb(165, 162, 162);
}

#productos table{
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

#productos table td, 
#productos table th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

#productos table td img{
    width: 120px;
    height: 100%;
    object-fit: cover;
}


/* ----------------------- EDITAR / AÑADIR PRODUCTO ----------------------------*/

#edit_new .cont_2{
    margin: auto;
    width: 60%;
    background-color: #fff;
    padding-top: 30px;
    border-radius: 20px;
    border: 2px solid #333;
    position: relative;
}

#edit_new form{
    padding: 20px 80px;
    align-items: center;
    margin: 25px auto 25px auto;
    text-align: center;
}

#edit_new form label{
    display: flex;
}

#edit_new form input, 
#edit_new form textarea, 
#edit_new form select{
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 1px solid grey;
}

#edit_new form p{
    margin-bottom: 5px;
}

#edit_new form button{
    margin: 20px 100px auto 100px;
    width: 200px;
    height: 40px;
    background-color: #333;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.596);
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-decoration: none;
}

#edit_new form button:hover{
    background-color: white;
    color: #333;
    border: 2px solid #333;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.596);
}